doctype html
html(lang="en")
    head
        title Faster on Fire | Lessons Learned

        // see https://github.com/joshbuchea/HEAD#meta for more details on this setup

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="Content-Security-Policy" content="default-src 'self'")

        // FB Open Graph
        //    TODO: finish this setup
        //meta(property="fb:app_id" content="877320699303649")
        meta(property="og:url" content="https://fasteronfire.com")
        meta(property="og:title" content="Faster on Fire | Lessons Learned")
        meta(property="og:description" content="The Official Website of Raleigh, NC Pop Punk band Faster on Fire, stream Lessons Learned on all major platforms October XX, 2019")
        meta(property="og:type" content="website")
        meta(property="og:image" content="")
        meta(property="og:image:alt" content="")

        //T witter Card
        //    TODO: finish this setup, request approval from Twitter via https://cards-dev.twitter.com/validator
        meta(name="twitter:card" content="summary")
        meta(name="twitter:title" content="Faster on Fire | Lessons Learned")
        meta(name="twitter:description" content="The Official Website of Raleigh, NC Pop Punk band Faster on Fire, stream Lessons Learned on all major platforms October XX, 2019")
        meta(name="twitter:url" content="https://fasteronfire.com")
        meta(name="twitter:image" content="")

    body