doctype html
html(lang="en")
    head
        title Faster on Fire | Lessons Learned

        // see https://github.com/joshbuchea/HEAD#meta for more details on this setup

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="Content-Security-Policy" content="default-src 'self'")

        // FB Open Graph
        //    TODO: finish this setup
        //meta(property="fb:app_id" content="877320699303649")
        meta(property="og:url" content="https://fasteronfire.com")
        meta(property="og:title" content="Faster on Fire | Lessons Learned")
        meta(property="og:description" content="The Official Website of Raleigh, NC Pop Punk band Faster on Fire, stream Lessons Learned on all major platforms October XX, 2019")
        meta(property="og:type" content="website")
        meta(property="og:image" content="")
        meta(property="og:image:alt" content="")

        //T witter Card
        //    TODO: finish this setup, request approval from Twitter via https://cards-dev.twitter.com/validator
        meta(name="twitter:card" content="summary")
        meta(name="twitter:title" content="Faster on Fire | Lessons Learned")
        meta(name="twitter:description" content="The Official Website of Raleigh, NC Pop Punk band Faster on Fire, stream Lessons Learned on all major platforms October XX, 2019")
        meta(name="twitter:url" content="https://fasteronfire.com")
        meta(name="twitter:image" content="")

    body
        nav(class="navbar navbar-expand-lg navbar-light bg-light")
            a(class="navbar-brand" href="#") Navbar
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse" id="navbarSupportedContent")
                ul(class="navbar-nav mr-auto")
                    li(class="nav-item active")
                        a(class="nav-link" href="#") Home span class="sr-only")(current)
                    li(class="nav-item")
                        a(class="nav-link" href="#") Link
                    li(class="nav-item dropdown")
                        a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Dropdown
                        div(class="dropdown-menu" aria-labelledby="navbarDropdown")
                            a(class="dropdown-item" href="#") Action
                            a(class="dropdown-item" href="#") Another action
                            div(class="dropdown-divider")
                            a(class="dropdown-item" href="#") Something else here
                    li(class="nav-item")
                        a(class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true") Disabled
                form(class="form-inline my-2 my-lg-0")
                    input(class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search")
                    button(class="btn btn-outline-success my-2 my-sm-0" type="submit") Search