#hero {
  height: 100vh;
  width: 100vw;
  background: url("../images/hero-img-l2.png") center center white no-repeat;
  background-size: cover;

  @media (orientation: portrait) {
    background: url("../images/hero-img-p3.png") center center white no-repeat;
    background-size: cover;
  }

  .hero-callout {
    position: absolute;
    font-size: 8rem;
    bottom: 25vh;
    z-index: 9000;

    a {
      text-decoration: none;
      color: $primary;
    }
  }
}
