$nav-btn-size: 100px;

#navbar {
  width: 100vw;
  height: 100%;
  position: fixed;
  right: -100vw;
  top: 0;
  z-index: 10000;
  transition: right 250ms ease-in-out;

  &.nav-open {
    right: 0;
  }

  .navbar-toggle {
    width: $nav-btn-size;
    height: $nav-btn-size;
    cursor: pointer;
    color: #007bff;
    position: absolute;
    top: 0;

    &.navbar-toggle-closed {
      left: -$nav-btn-size;
    }

    &.navbar-toggle-open {
      right: 0;
    }
  }

  .nav-items {
    font-family: $headings-font-family;
    font-size: $font-size-lg;
    width: 100%;

    .nav-brand {
      width: 40vw;

      @include media-breakpoint-up(md) {
        width: 20vw;
      }
    }

    ul {
      list-style: none;
    }

    .logos {
      width: 100%;

      @include media-breakpoint-up(md) {
        width: 40%;
      }
    }
  }
}
