// fonts
@import url("https://use.typekit.net/def2guj.css");

$font-family-sans-serif: roboto-condensed, sans-serif;
$headings-font-family: abril-text, serif, sans-serif;

// vars
$primary: lighten(#007bff, 20%);
$secondary: lighten(green, 30%);
$light: #e9ecef;
$body-color: #343a40;
$dark: #212529;

// libraries
@import "~bootstrap/scss/bootstrap";

// partials
@import "navbar";
@import "hero";
@import "newsletter";
@import "music";
@import "merch";
@import "shows";

//global styles

body {
  overflow: hidden;
  animation: appear 1s 1s forwards;
}

.cta-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 8000;
  animation: disappear 3s linear forwards;
}

@keyframes disappear {
  0%   {opacity: 1;height: 100%}
  25%   {opacity: 1;height: 100%}
  50%   {opacity: 0;height: 100%}
  100%  {opacity: 0;height: 0;}
}

@keyframes appear {
  0%   {height: 100vh}
  100%  {height: 100%;overflow: auto}
}
